[submodule "vendor/plugins/formtastic"]
	path = vendor/plugins/formtastic
	url = git://github.com/justinfrench/formtastic.git
[submodule "vendor/plugins/jrails"]
	path = vendor/plugins/jrails
	url = git://github.com/aaronchi/jrails.git
[submodule "vendor/plugins/userstamp"]
	path = vendor/plugins/userstamp
	url = git://github.com/delynn/userstamp.git
[submodule "vendor/plugins/geokit-rails"]
	path = vendor/plugins/geokit-rails
	url = git://github.com/andre/geokit-rails.git
[submodule "vendor/plugins/hoptoad_notifier"]
	path = vendor/plugins/hoptoad_notifier
	url = git://github.com/thoughtbot/hoptoad_notifier.git
[submodule "vendor/plugins/mongo_db_logger"]
	path = vendor/plugins/mongo_db_logger
	url = git@github.com:peregrinator/mongo_db_logger.git
