[submodule "vendor/plugins/formtastic"]
	path = vendor/plugins/formtastic
	url = git://github.com/justinfrench/formtastic.git
[submodule "vendor/plugins/jrails"]
	path = vendor/plugins/jrails
	url = git://github.com/aaronchi/jrails.git
[submodule "vendor/plugins/userstamp"]
	path = vendor/plugins/userstamp
	url = git://github.com/delynn/userstamp.git
