/* RESET
-------------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption, tbody, tfoot, thead {margin: 0; padding: 0; border: 0;}

html {
  background: url(/images/bg.gif) repeat left top;
  }
body {
  background: url(/images/header.png) repeat-x left -35px;
}
#wrapper {  
  margin: 0 auto;
  position: relative;  
  width: 980px;
  }

#header { 
  display: block; 
  height: 158px; 
  }
  
#header h1.logo a{
  background: url(/images/logo.png) no-repeat left top;
  _background-image: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/logo.png', sizingMethod='image');  
  display: block;
  height: 100px;
  left: 10px;
  position: absolute;
  text-indent: -9999px;  
  top: 25px;
  width: 442px; 
  }  

#login {
  background: #e1e2db;
  border: 1px solid #bebead;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
  padding: 15px 10px 5px 10px;
  position: absolute;
  right: 20px;
  top: -10px;
}

#login a {
  background: url(/images/login_arrow.gif) no-repeat right top;
  color: #cccdc3;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  padding-right: 15px;
  text-transform: uppercase;
  text-decoration: none;
}
#login a:hover {
  background-position: right -30px;
  color: #9a9b91;
}
/* need to fix IE6 */
#nav {
  background: url(/images/navbar.png) no-repeat;
  _background-image: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/navbar.png', sizingMethod='image');
  display: block;
  height: 64px;
  margin: 0 auto 0 auto;
}
#nav ul {
  list-style: none inside;
  padding: 0 100px;
}
#nav ul li {
  float: left;
  margin-left: 167px;
}
#nav ul :first-child {
  margin-left: 0;
}
#nav ul li.first {
  margin-left: 0;
}
#nav ul li a {
  color: #4c4c4c;
  font-family: 'AllerDisplayRegular', sans-serif;  
  font-size: 36px;
  line-height:normal;
  text-decoration: none;
  text-shadow: 1px 1px 1px #707070;    
}
#nav ul li a:hover {
  color: #f38630;
  text-shadow: 1px 1px 1px #da7424;  
}
#main {
  background: url(/images/content_bg.png) repeat-y left top;
  _background-image: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/content_bg.png', sizingMethod='scale');  
  margin: 0 auto;
  padding: 0 0 0 0;
  position: relative;  
  width: 900px;
}
.top {
  background: url(/images/content_top.png) no-repeat left top;
  _background-image: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/content_top.png', sizingMethod='image');  
  display: block;
  height: 27px;
  margin: 0 auto;
  width: 900px;
}
#main .content {
  margin: 0 auto;
  min-height: 700px;
  padding: 10px 30px;
  width: 810px;
}
#main .content h1 {
  color: #554641;
  font-family: 'AllerDisplayRegular', sans-serif;  
  font-size: 33px;
  line-height:normal;  
}
#main .content h1.topinfo {
  background: url(/images/hr.png) no-repeat left bottom;
  _background-image: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/hr.png', sizingMethod='image');  
  padding-bottom: 30px;
  text-align: center;
}
#main .content h1.topinfo span.cellsite { color: #ad9d8e; }
#main .content h1.topinfo span.photo { color: #85705e; }
#main .content h1.topinfo span.email { color: #85705e; }
#main .content h2 {
  color: #554641;
  font-family: 'AllerLightRegular', sans-serif;  
  font-size: 26px;
  line-height:normal;
}
#main .content p {
  color: #3a3331;
  font-family: 'AllerRegular', sans-serif;  
  font-size: 15px;
  line-height:normal;
}
#footer {
  background: url(/images/mask.png) repeat-x left bottom; 
  _background-image: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/mask.png', sizingMethod='scale');  
  margin-top: -373px;
  padding-top: 373px;
  width: 100%;
  position: absolute;
}  

.large_map {
  width: 800px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.large_map div.wml-text-background {
  opacity: 1;
}
.large_map div.wml-text-background div.wml-copyright-text{
  width: 800px;
}
.medium_map {
  width: 350px;
  height: 320px;
  margin: 0 auto;
  padding: 0 1em;
}

.medium_map div.wml-info-window-content ul {
  margin: 0;
}

.medium_map div.wml-info-window-content ul li{
  margin-left: 10px;
}