/* RESET
-------------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption, tbody, tfoot, thead {margin: 0; padding: 0; border: 0;}

html {
	background: url(/images/bg.gif) repeat left top;
}

body {
	background: url(/images/mask.png) repeat-x left bottom;
}

