<dl>
  <dt>Username:</dt>
  <dd><%=h @user.login %></dd>

  <dt>Email:</dt>
  <dd><%= @user.email %></dd>
</dl>

<%= link_to 'Change password', edit_account_path %>

<h2>Uploaded Cell Sites</h2>

<% if @user.cell_sites.present? %>
  <ul>
    <% @user.cell_sites.each do |cell_site| %>
    <li><%= link_to image_tag(cell_site.photo.url(:thumb)), cell_site_path(cell_site) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No cell sites have been uploaded yet!</p>
<% end %>