<script id="cell_site_template" type="text/html">
   <h5><#= licensee #></h5>
   <ul>
     <# if(address != ''){ #>
       <li><#= address #></li>
     <# } #>
     <# if(address2 != ''){ #>
       <li><#= address2 #></li>
     <# } #>
   </ul>
</script>