<script id="cell_site_template" type="text/html">
  <a href='/cell_sites/<#= id #>'><img src="<#= thumbnail_url #>" /></a>
  <dl>
    <# if(address != ''){ #>
      <dt>Address</dt>
      <dd><#= address #></dd>
    <# } #>
    <# if(address2 != ''){ #>
      <dd><#= address2 #></dd>
    <# } #>
  </dl>
</script>