<script id="cell_tower_template" type="text/html">
  <h5><a href='/cell_sites/<#= id #>'><#= licensee #></a></h5>
  <ul>
    <# if(address != ''){ #>
      <li><#= address #></li>
    <# } #>
    <# if(address2 != ''){ #>
      <li><#= address2 #></li>
    <# } #>
  </ul>
</script>