<script id="cell_tower_template" type="text/html">
  <dl>
    <dt>Licensee</dt>
    <dd><a href='/cell_sites/<#= id #>'><#= licensee #></a></dd>
    <# if(address != ''){ #>
      <dt>Address</dt>
      <dd><#= address #></dd>
    <# } #>
    <# if(address2 != ''){ #>
      <dd><#= address2 #></dd>
    <# } #>
  </dl>
</script>