<script id="cell_site_template" type="text/html">
  <a href='/cell_sites/<#= id #>'><img src="<#= thumbnail_url #>" /></a>
  <ul>
    <# if(address != ''){ #>
      <li><#= address #></li>
    <# } #>
    <# if(address2 != ''){ #>
      <li><#= address2 #></li>
    <# } #>
  </ul>
</script>