<% title "About All Your Cells" %>

<p>
  All Your Cells is was founded on the premise that public data should be, well public. Most of us pay 
  taxes and subscribe to a cell phone service. We believe it is beneficial to not only to the public but 
  also to those that regulate the airwaves that the most accurate and up to date data be freely available. 
  The FCC requires the registration of cell towers placed near airports or taller than a specific height. 
  However thousands of smaller 'cell sites' are known to be in existence, yet their location is unknown. 
  These sites are often located on the side of buildings and even in faux or preserved trees and various 
  other locations.
</p>
<p>  
  Working to supplement the FCC tall tower data, All Your Cells seeks to engage the public in identification, 
  reporting, and verification of these smaller cell sites. Most modern cell phones automatically add GPS 
  coordinates to photos taken with the devices; additionally a plethora of free programs exist to add this 
  data to photos after they are taken and uploaded to a personal computer.
</p>
<p>  
  All Your Cells aims to present a repository for this public data and to make it easily available again for 
  reuse by other developers and the public in general. All the cell data in All Your Cells is freely available 
  via our <%= link_to 'API', api_path %>. In fact we believe in the power of openness to the extent that the entire 
  All Your Cells application has been open sourced - the source code is freely available on 
  <%= link_to 'Github', 'http://github.com/trifecta/allyourcells' %>.
</p>
<p>  
  We've got lots more on the way as well... A dedicated iPhone app is in the works as well as the ability for 
  you to report your cell phone coverage at any location. This open and reusable data will allow you to make 
  better choices about your cell phone usage as well as allow the FCC to better design regulations that govern 
  the use of our airwaves for the benefit of all.
</p>
<p>  
  Because after all, the airwaves are belong to us!
</p>
