<% content_for :precolumn do %>
  <h1 class="topinfo"><span class="cellsite">SEE A CELL SITE?</span> <span class="photo">TAKE A PHOTO.</span><span class="email"> E-MAIL IT TO US.</span></h1>   
<% end %>

<% add_javascript { @map.to_js } %>
<div id="map" class='large_map'>
  
<div class="loader">
  <img src="/images/loading.gif" />
</div>
  
</div>

