<% title "Because the airwaves belong to us" %>
<h1>Hi I am home</h1>
<h2>Hi I am home</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

<% add_javascript { @map.to_js } %>
<div id="map" class='large_map'>
  
<div class="loader">
  <img src="/images/loading.gif" />
</div>
  
</div>

