<% content_for :precolumn do %>
  <h1 class="topinfo"><span class="cellsite">SEE A CELL SITE?</span> <span class="photo">TAKE A PHOTO.</span><span class="email"> E-MAIL IT TO US.</span></h1>   
<% end %>

<% add_template(:partial => 'maps/markers/cell_tower_template') %>
<% add_template(:partial => 'maps/markers/cell_site_template') %>
<% add_javascript { @map.to_js } %>
<div id="map" class='large_map'>
  
<div class="loader">
  <img src="/images/loading.gif" />
</div>

</div> <!-- MAP end -->
<%= render :partial => "locations/form" %>

<div class="grid_7 suffix_1 alpha">
  <h2>Help the open government initiative take flight!</h2>
  <p>
    Cell site placement has shifted from the "best location" practice of the larger cell towers to a "multiple location" 
    strategy in recent years. As a result shorter cell phone towers are appearing on the sides of buildings, faux trees, 
    and other various locations all over the country.
  </p>
  <p>
    The FCC requires the registration of cell phone towers and antennas that are near airports or of a certain height. 
    However they are not aware of the shorter cell phone towers. To further the goals of the Gov 2.0 / open data movement,
    All Your Cells was created.  
  </p>
  <p>  
    Most modern cell phones create location-aware photos (or you can add location coordinates yourself before submitting). 
    Now when you see a cell phone tower you can take a picture of it and email it to us. This data will allow FCC to supplement 
    their tall tower data and it will all be openly available via our <a href='/api'>API</a>.
  </p>
  
</div>

<div class="grid_4 omega">
  <h2>New Entries</h2>
  <ul class="entries">
    <li><span class="count">356</span> around Hell, Michigan</li>
    <li><span class="count">8</span> around San Francisco,CA</li>
  </ul>
  
  <h2>Most saturated</h2>
  <ul class="entries">
    <li><span class="count">123</span> around San Francisco,CA</li>
    <li><span class="count">99</span> around New York, NY</li>
  </ul>  
</div>
