<% title "How to use All Your Cells" %>

<p>
  All Your Cells relies on your submissions to accurately locate cell sites! 
  Follow the instructions below for a smooth sailing experience!
</p>

<h4>Step 1 :: Ready</h4>
<p>
  All submissions need to have GPS coordinates embedded in the EXIF metadata (don't worry if you've 
  never heard of EXIF!). 
  Recent smartphones, like the iPhone or Blackberry, do this whenever they have a decent GPS signal, 
  so just make sure you have GPS enabled.
</p>

<h4>Step 2 :: Aim</h4>
<p>
  Snap a picture when you see a cell site. These are often on the sides of the taller buildings 
  in your neighborhood or sometimes disguised as trees and other such things! Images need to be in 
  JPG format (most cameras use this format) and you can only send one image per email!
</p>
 
<h4>Step 3 :: Fire</h4>
<p>
  Fire off an email to <%= mail_to 'submit@allyourcells.com' %>. We'll process your email and 
  let you know whether everything went as planned or if there was a problem. In general you'll receive 
  a response in 2 minutes or so.
</p>