<% title 'All Your Cells on Your Phone '%>

<div class="grid_6 suffix_1 alpha">
  <img src="/images/iphone.jpg" alt="All Your Cells Mobile App Coming Soon" />
</div>

<div class="grid_5 omega">
  <h2>Coming soon!</h2>
  <ul>
    <li>Upload photos from anywhere!</li>
  </ul>
</div>