<% title 'All Your Cells on Your Phone '%>

<div class="grid_6 suffix_1 alpha">
  <img src="/images/iphone.jpg" alt="All Your Cells Mobile App Coming Soon" />
</div>

<div class="grid_5 omega">
  <h2>Coming soon!</h2>
  <ul>
    <li>Upload photos directly from your iPhone!</li>
    <li>
      Becoming the envy of the neighborhood by earning unique badges such as 
      First Reporter, Accuracy Aficionado, Border Bounder, etc...
    </li>
    <li>
      Report your cell signal strength and contribute to the grass roots cell
      coverage effort.
    </li>
    <li>Receive mobile alerts to new cell site locations and news</li>
  </ul>
</div>