<h1>Sign In</h1>
 
<% semantic_form_for @user_session, :url => user_session_path do |f| %>
  <%= f.error_messages %>
  <% f.inputs do %>
    <%= f.input :email %>
    <%= f.input :password, :as => :password %>
  <% end %>
  <%= f.submit "Sign In" %>
<% end %>