<div id="nav">
  <div class="search">
  </div>    
  <ul>
    <li class="first"><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/instructions">Instructions</a></li>
  </ul>
</div>